{% load static %}

{% if img %}
    <div>
    {%for image in images %}
      <a href="{{ image.get_absolute_url }}">
          <img class="image1" src="{{ image.get_photo_url }}" alt="img"
          style="margin-right: 20px; margin-bottom: 20px; border-radius: 10%; max-width: 200px; max-height: 150px;"></a>
    {% endfor %}
    </div>
{% else %}
    {% if user == request.user %}
        <h3 style="border:3px solid #bbb; border-radius:20px;width:80%; margin-left:100px;text-align:center;height: 100px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        <a style="text-decoration: none;color:black;position:relative;top:25px" href="{% url 'images:create' %}">Add a photo
            <img src="{% static 'images/add_photo.png' %}" style="height: 40px; width: 40px" alt="img"></a></h3>
    {% else %}
        <h3 style="border:3px solid #bbb; border-radius:20px;width:80%; margin-left:100px;text-align:center;height:100px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        <p style="position: relative;top:25px">The user has not added another photo</p>
        </h3>
    {% endif %}
{% endif %}

