{% extends 'registration/base.html' %}


{% block title %}Deleting a chat{% endblock title %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <h4>Delete this chat?</h4>
            </legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-danger mr-3" type="submit">Yes, Delete</button>
            <a href="{% url 'chat:dialogs' %}" class="btn btn-info">Cancel</a>
        </div>
    </form>
{% endblock content %}