{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block title %}Reset you password{% endblock %}

{% block page_header %}
    <h2>Forgotten your password?</h2>
{% endblock %}

{% block content %}
    <div>
      <div class="media">
        <div class="media-body">
            <p>Enter you e-mail address to obtain a new password.</p>
            <form action="." method="post">
                {% bootstrap_form form %}
                <p><input type="submit" value="Send e-mail" class="button"></p>
                {% csrf_token %}
            </form>
        </div>
      </div>
    </div>
{% endblock content %}