{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block title %}Reset you password{% endblock %}
{% block page_header %}
    <h2 style="border-radius: 5px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        Reset you password</h2>
{% endblock page_header %}

{% block content %}
    <div style="background-color: #6f94c6; border-radius: 5px; border: 1px solid #fff">
      <div class="media">
        <div class="media-body">
            {% if validlink %}
                <p>Please enter you new password twice:</p>
                <form action="." method="post">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <p><input type="submit" value="Change my password" class="button"></p>
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it
                    has already been used. Please request a new password reset.</p>
            {% endif %}
        </div>
      </div>
    </div>
{% endblock content %}