{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block title %}Change you password{% endblock %}

{% block page_header %}
    <h2 class="registration-text">Change you password</h2>
{% endblock page_header %}

{% block content %}
    <div style="background-color: #6f94c6; border-radius: 5px; border: 1px solid #fff">
      <div class="media">
          <div class="media-body">
              <p class="registration-text">Use the form below to change your password.</p>
              <form action="." method="post" class="registration">
                  {% bootstrap_form form %}
                  <p><input type="submit" value="Change" class="button"></p>
                  {% csrf_token %}
              </form>
          </div>
      </div>
    </div>

{% endblock content %}