{% extends 'registration/base.html' %}
{% load bootstrap4 %}

{% block title %}Editing entry{% endblock title %}
{% block page_header %}
    <h2 style="border-radius: 5px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        Editing entry</h2>
{% endblock page_header %}

{% block content %}
    <form method="post" class="form-control-feedback" enctype="multipart/form-data">
      {% bootstrap_form edit_form %}
      {% csrf_token %}
      <button class="button" name="submit">Save</button>
    </form>
{% endblock content %}