{% extends 'registration/base.html' %}


{% block title %}Post & images{% endblock title %}
{% block page_header %}
    <h2 style="border-radius: 5px;box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
        News Feed</h2>
{% endblock page_header %}

{% block content %}
    <div class="content-section">
    <div class="media-body">
        <div class="media-body">
            {% for action in actions %}
                {% include 'actions/detail.html' %}
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}